<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Awoii Bob Willy</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="favicon.png">
  <script src = "http://cdn.tailwincss.com"></script>
</head>
<body>
  <nav class="p-4 flex gap-2 items-center bg-black text-white justify-end">
    <a class="" href="/">Home</a>
    <a class="" href="/aboutus">About Us</a>
    <a class="" href="/contactus">Contact Us</a>
    <a class="" href="/resources">Resources</a>
    <a class="" href="/blogs">Blogs</a>
    <a class="" href="/login">Login</a>
    <a class="" href="/register">Register</a>
  </nav>
  <h1>Hello, world!</h1>
</body>
</html>